
/*
canvas {
	width: 100%;
	height: 100%;
	fill: #858585;
}
#threerain{
  background-color: #858585;
}*/

body {
  text-align: center;
  padding: 0;
  margin: 0;
}

.cover-wrapper {
    opacity: 0;
   transition: all 3s ease-out;
 }

.cover-wrapper.fade-in {
  opacity: 1;
  /*transition: all 3s ease-out;*/
}

.cover-wrapper.fade-out {
  opacity: 0;
  /*transition: all 3s ease-out;*/
}

.cover-bg {
  height: 730px;
  width: 1600px;
  left: 360px;
  overflow: hidden;
  background: url(./images/cover/cover-bg2.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.titleElements {
  width: 1080px;
  height: 720px;
  top: 5px;
  left: 360px;
  position: absolute;
}

.cover-title {
  opacity: 1;
  font-size: 90px;
  color: darkred;
  top: 90px;
  right: 320px;
  position: absolute;

}

.cover-title2 {
  font-size: 20px;
  color: darkred;
  top: 250px;
  right: 320px;
  position: absolute;

}

.cover-title3 {
  opacity: 1;
  font-size: 18px;
  color: darkred;
  top: 273px;
  right: 310px;
  position: absolute;

}

.cover-boy {
  top: 290px;
  right: 480px;
  position: absolute;
}

.cover-bird {
  opacity: 1;
  top: 0px;
  right: 680px;
  position: absolute;
}

.cover-monkey {
  top: -47px;
  right: 280px;
  position: absolute;
}

.cover-dog {
  top: 450px;
  right: 180px;
  position: absolute;
}

.page1-bg {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url(./images/page1/page1-bg.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding-top: 50px;
    opacity: 0;
    position: relative;
    /*transform: translateY(50px);*/
    transition: all 2s ease-out;
}

.page1-nikText {
    font-size: 16px;
    color: black;
    top: 1200px;
    left: 500px;
    padding: 200px;
    opacity: 0;
    position: absolute;
}


.page2-wrapper {
    position: relative;

}

.page2-bg{
    position: relative;
    opacity: 0;
    padding-top: 350px;
}

.page2-boy{
    top: 468px;
    left: 730px;
    opacity: 0;
    position: absolute;
}

.page2-text{
  font-size: 16px;
  width: 400px;
    top: 800px;
    left: 810px;
    opacity: 0;
    position: absolute;
}

.page2-text2{
  font-size: 16px;
  width: 400px;
    top: 800px;
    left: 810px;
    opacity: 0;
    position: absolute;
}

.page2-text3{
  font-size: 16px;
  width: 400px;
    top: 800px;
    left: 810px;
    opacity: 0;
    position: absolute;
}

.page2-text4{
  font-size: 16px;
  width: 400px;
    top: 800px;
    left: 810px;
    opacity: 0;
    position: absolute;
}

.page2-text5{
  font-size: 16px;
  width: 400px;
    top: 800px;
    left: 810px;
    opacity: 0;
    position: absolute;
}

.page2-text6{
  font-size: 16px;
  width: 400px;
    top: 800px;
    left: 810px;
    opacity: 0;
    position: absolute;
}

.page2-bird{
    top: 550px;
    left: 930px;
    opacity: 0;
    position: absolute;
}

.page2-dog{
    top: 788px;
    left: 330px;
    opacity: 0;
    position: absolute;
}

.page2-monkey{
    top: 568px;
    left: 230px;
    opacity: 0;
    position: absolute;
}




.page3-wrapper {
    position: relative;

}

.page3-bg{
    position: relative;
    opacity: 1;
    top: 440px;
}


.page3-kite2{
    z-index: 1;
    top: 55px;
    left: 1030px;
    opacity: 0;
    position: absolute;
}

.page3-kite{
    top: -20px;
    left: 180px;
    opacity: 0;
    position: absolute;
}

.page3-text{
  font-size: 20px;
  width: 400px;
    top: 130px;
    left: 110px;
    opacity: 0;
    position: absolute;
}

.page3-text2{
  font-size: 20px;
  width: 400px;
    top: 350px;
    left: 510px;
    opacity: 0;
    position: absolute;
}

.page3-text3{
  font-size: 20px;
  width: 400px;
    top: 600px;
    left: 950px;
    opacity: 0;
    position: absolute;
}




.page4-wrapper {
    padding-top: 100px;
    position: relative;
}

.page4-bg{
    left: 0px;
    position: relative;
    opacity: 1;
    top: 340px;
}

.page4-pane1 {
  position: absolute;
  opacity: 0;
  left: 220px;
  top: 500px;
}

.page4-text{
  font-size: 12px;
  width: 281px;
    top: 140px;
    left: 240px;
    opacity: 0;
    position: absolute;
}

.page4-pane2 {
  position: absolute;
  left: 535px;
  opacity: 0;
  top: -500px;
}

.page4-text2{
    font-size: 12px;
    width: 285px;
    top: 260px;
    left: 600px;
    opacity: 0;
    position: absolute;
}

.page4-pane3 {
  position: absolute;
  left: 940px;
  opacity: 0;
  top: 500px;
}

.page4-text3{
  font-size: 12px;
  width: 285px;
    top: 500px;
    left: 965px;
    opacity: 0;
    position: absolute;
}

.page4-pane2-coconut {
  top:  -150px;
  left: 700px;
  position: absolute;
  opacity: 0;
}




.page5-wrapper {
    padding-top: 50px;
    position: relative;
}

.page5-bg {
  top: 1200px;
  opacity: 0;
}

.page5-text{
  font-size: 12px;
  width: 400px;
    top: 140px;
    left: 500px;
    opacity: 0;
    position: absolute;
}




.page6-wrapper {
    padding-top: 0px;
    position: relative;
}

.page6-bg{
    position: relative;
    opacity: 1;
    top: 590px;
    left: 10px;
}

.page6-pane1 {
  position: absolute;
  opacity: 0;
  left: -235px;
  top: -470px;
}

.page6-text{
  font-size: 12px;
  width: 281px;
    top: 145px;
    left: 280px;
    opacity: 0;
    position: absolute;
}

.page6-pane2 {
  position: absolute;
  left: 375px;
  opacity: 0;
  top: 55px;
}

.page6-text2{
    font-size: 12px;
    width: 285px;
    top: -300px;
    left: 620px;
    opacity: 0;
    position: absolute;
}

.page6-pane3 {
  position: absolute;
  left: 1440px;
  opacity: 0;
  top: -451px;
}

.page6-text3{
  font-size: 12px;
  width: 285px;
    top: 100px;
    left: 960px;
    opacity: 0;
    position: absolute;
}
<<<<<<< HEAD
=======


>>>>>>> master



.page7-wrapper {
    position: relative;
    top: -100px;
}

.page7-bg{
  left: 250px;
  height: 840px;
  width: 960px;
  overflow: hidden;
    position: relative;
    opacity: 0;
    top: 0px;

}

.page7-animals-tree {
  position: absolute;
  opacity: 1;
  left: 0px;
  top: 0px;
}

.page7-cloudsLeft {
  position: absolute;
  opacity: 1;
  left: -20px;
  top: 0px;
}

.page7-cloudsRight {
  position: absolute;
  opacity: 1;
  left: 600px;
  top: 50px;
}

.page7-cloudsMiddle {
  position: absolute;
  opacity: 1;
  left: -20px;
  top: 50px;
}

.page7-bird {
  position: absolute;
  opacity: 1;
  left: 250px;
  top: 150px;
}

.page7-text{
  font-size: 12px;
  width: 581px;
    top: 345px;
    left: 0px;
    opacity: 0;
    position: absolute;
}




.page8-wrapper {
    position: relative;
    top: -2500px;
}

.page8-bg{
  left: 250px;
  height: 840px;
  width: 960px;
  overflow: hidden;
    position: absolute;
    opacity: 0;
    top: 0px;
}

.page8-sea-kid {
  position: absolute;
  opacity: 1;
  left: 0px;
  top: 600px;
}

.page8-cloudsLeft {
  position: absolute;
  opacity: 1;
  left: 0px;
  top: 0px;
}

.page8-cloudsRight {
  position: absolute;
  opacity: 1;
  left: 500px;
  top: 50px;
}

.page8-cloudsMiddle {
  position: absolute;
  opacity: 1;
  left: 0px;
  top: 50px;
}

.page8-bird {
  position: absolute;
  opacity: 1;
  left: 250px;
  top: 150px;
}

.page8-text{
  font-size: 12px;
  width: 581px;
    top: 245px;
    left: 100px;
    opacity: 0;
    position: absolute;
}




.page9-wrapper {
    position: relative;
    top: 2300px;
}

.page9-bg{
  left: 250px;
  height: 840px;
  width: 960px;
  overflow: hidden;
    position: absolute;
    opacity: 0;
    top: 0px;

}

.page9-clouds {
  position: absolute;
  opacity: 0;
  left: 0px;
  top: 50px;
}

.page9-trees {
  position: absolute;
  opacity: 1;
  left: 250px;
  top: 350px;
}

.page9-nikolia {
  position: absolute;
  opacity: 1;
  left: 100px;
  top: 480px;

}

.page9-text{
  font-size: 12px;
  width: 581px;
    top: 245px;
    left: 100px;
    opacity: 0;
    position: absolute;
}





.page10-wrapper {
    position: relative;
    top: 6500px;
}

.page10-bg{
  left: 250px;
  height: 840px;
  width: 960px;
  overflow: hidden;
    position: absolute;
    opacity: 0;
    top: 0px;
}

.page10-boy {
  position: absolute;
  opacity: 0;
  left: 0px;
  top: 800px;
}

.page10-turtle {
  position: absolute;
  opacity: 1;
  left: 250px;
  top: 800px;
}

.page10-nikolia {
  position: absolute;
  opacity: 0;
  left: 100px;
  top: 680px;

}

.page10-text{
  font-size: 12px;
  width: 581px;
    top: 845px;
    left: 100px;
    opacity: 1;
    position: absolute;
}

.page10-text2{
  font-size: 12px;
  width: 581px;
    top: 700px;
    left: 100px;
    opacity: 0;
    position: absolute;
  }

#threerain{
  position: relative;
  top: 16000px;
  }

  .page12-wrapper {
      position: relative;
      top: 16100px;
  }

  .page12-bg{
    left: 0px;
    height:720px;
    width: 1080px;
      position: absolute;
      opacity: 1;
      top: 0px;
  }


