


canvas {
	width: 100%;
	height: 100%;
	fill: #858585;
}
#threerain{
  background-color: #858585;
}



body {
  text-align: center;
  padding: 0;
  margin: 0;
}


.cover-wrapper {
    opacity: 0;
   transition: all 3s ease-out;
 }

.cover-wrapper.fade-in {
  opacity: 1;
  /*transition: all 3s ease-out;*/
}

.cover-wrapper.fade-out {
  opacity: 0;
  /*transition: all 3s ease-out;*/
}

.cover-bg {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url(./images/cover/cover-bg.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cover-title {
  opacity: 1;
  font-size: 90px;
  color: darkred;
  top: 90px;
  right: 320px;
  position: absolute;

}

.cover-title2 {
  font-size: 20px;
  color: darkred;
  top: 250px;
  right: 320px;
  position: absolute;

}

.cover-title3 {
  opacity: 1;
  font-size: 18px;
  color: darkred;
  top: 273px;
  right: 310px;
  position: absolute;

}


.cover-boy {
  top: 290px;
  right: 480px;
  position: absolute;


}

.cover-bird {
  opacity: 1;
  top: 0px;
  right: 680px;
  position: absolute;
}



.cover-monkey {
  top: -47px;
  right: 280px;
  position: absolute;
}

.cover-dog {
  top: 450px;
  right: 180px;
  position: absolute;
}
/*
.page1-wrapper {
    position: absolute;;
    padding: 200px;
}*/

.page1-bg {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url(./images/page1/page1-bg.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding-top: 50px;
    opacity: 0;
    position: relative;
    /*transform: translateY(50px);*/
    transition: all 2s ease-out;
}



.page1-nikText {
    top: 1200px;
    left: 500px;
    padding: 200px;
    opacity: 0;
    position: absolute;
}


.page2-wrapper {
    position: relative;
    padding: 200px;
}

.page2-bg.png{
    position: relative;
}


/*.page3-wrapper {
    color: #fff;
    background-color: #000;
    padding: 200px;
}
.page4-wrapper {
    color: #000;
    background-color: #fff;
    padding: 200px;
}
.page5-wrapper {
    color: #fff;
    background-color: #000;
    padding: 200px;
}
.page6-wrapper {
    color: #000;
    background-color: #fff;
    padding: 200px;
}
.page7-wrapper {
    color: #fff;
    background-color: #000;
    padding: 200px;
}
.page8-wrapper {
    color: #000;
    background-color: #fff;
    padding: 200px;
}
.page9-wrapper {
    color: #fff;
    background-color: #000;
    padding: 200px;
}
.page10-wrapper {
    color: #000;
    background-color: #fff;
    padding: 200px;
}
.page11-wrapper {
    color: #fff;
    background-color: #000;
    padding: 200px;
}
.page12-wrapper {
    color: #000;
    background-color: #fff;
    padding: 200px;
    opacity: 0;
    transition: all 3s ease-out;
}

.page13-wrapper {
    color: #fff;
    background-color: #000;
    padding: 200px;
}
.page14-wrapper {
    color: #000;
    background-color: #fff;
    padding: 200px;
}
.page15-wrapper {
    color: #fff;
    background-color: #000;
    padding: 200px;
}
.page16-wrapper {
    color: #000;
    background-color: #fff;
    padding: 200px;
}
.page17-wrapper {
    color: #fff;
    background-color: #000;
    padding: 200px;
}
.page18-wrapper {
    color: #000;
    background-color: #fff;
    padding: 200px;
}
.page19-wrapper {
    color: #fff;
    background-color: #000;
    padding: 200px;
}
.page20-wrapper {
    color: #000;
    background-color: #fff;
    padding: 200px;
}
.page21-wrapper {
    color: #fff;
    background-color: #000;
    padding: 200px;
}
.page22-wrapper {
    color: #000;
    background-color: #fff;
    padding: 200px;
}
.page23-wrapper {
    color: #fff;
    background-color: #000;
    padding: 200px;
}
.page24-wrapper {
    color: #000;
    background-color: #fff;
    padding: 200px;
}*/

